<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Formulier voor het Procurios Project.
            {% block title %}
               Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {# navigation #}
        <h1> Welkom op mijn formulier {{ name }}. </h1>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
